section#contact {
    background-image: url('../img/landing/word_map.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

section#services {
    background-image: url('../img/landing/our-services.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

section#about-us {
    background-image: url('../img/landing/about-us.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

section#why-gtuvyinno {
    background-image: url('../img/landing/group-discussion.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.padded-container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

section p {
    color: rgb(103, 106, 108) !important;
    font-family:'Open sans';
    text-align:justify;
}

section.capitalize-first p:nth-child(1):first-letter {
    font-size: 1.4em;
}

section .row .text-center h1 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}